@{
    ViewBag.Title = "无法找到资源";
}
<section class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="callout callout-warning">
                <h4><i class="icon fa fa-warning margin-r-5"></i>很抱歉，您访问的页面不存在。</h4>
                <p>HTTP 404，您正在查找的资源可能已被移除，或其名称已更改，或暂时不可用，请检查URL并确保其拼写正确。</p>
            </div>
        </div>
    </div>
</section>