<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <span class="text-gray text-sm">Version 2.3.3</span> 
    </div>
    <span class="text-gray text-sm">Copyright &copy; 2014-2015 <a href="#">零度科技有限公司</a> All rightsreserved.</span> 
</footer>
