@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "系统错误";
}

<section class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-close margin-r-5"></i>系统错误，请稍后重试。</h4>
                <p>HTTP 500，执行当前操作期间，服务器内部引发错误，如需帮助请与管理员联系。@string.Format("HRESULT：0x{0:X8}",Model.Exception.HResult)</p>
                <p>@this.Model.Exception.Message</p>
                <p>@this.Model.Exception.GetType()</p>
            </div>
            <pre style="white-space:pre-line;background-color:#ffffcc">@Model.Exception.StackTrace</pre>
        </div>
    </div>
</section>