<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="WeFramework.Core" />
    <assembly name="WeFramework.Data" />
    <assembly name="WeFramework.Service" />
    <assembly name="Unity.Lifetime"/>
    <assembly name="Unity.Abstractions"/>
    <container>
      <!--repository register -->
      <register type="WeFramework.Data.IDbContext" mapTo="WeFramework.Data.CustomDbContext" >
        <constructor>
          <param name="nameOrConnectionString" value="firstConnectionString" />
        </constructor>
      </register>
      <register type="WeFramework.Core.Data.IRepository[]" mapTo="WeFramework.Data.EfRepository[]" />
      
      <!--infrastructure register-->
      <register type="WeFramework.Service.Logging.ILogService" mapTo="WeFramework.Service.Logging.LogService" />
      <register type="WeFramework.Core.Caching.ICacheManager" mapTo="WeFramework.Core.Caching.NullCacheManager">
        <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager" />
      </register>
      
      <!--security register -->
      <register type="WeFramework.Service.Security.IEncryptionService" mapTo="WeFramework.Service.Security.EncryptionService" />
      <register type="WeFramework.Service.Security.IEntityPermissionService" mapTo="WeFramework.Service.Security.EntityPermissionService" >
        <constructor>
          <param name="workContext" type="WeFramework.Core.Infrastructure.IWorkContext" value="null"/>
          <param name="entityPermissionRepository" type ="WeFramework.Core.Data.IRepository[WeFramework.Core.Domain.Security.EntityPermission]"/>
        </constructor>
      </register>

      <!--service register -->
      <register type="WeFramework.Service.Users.IUserService" mapTo="WeFramework.Service.Users.UserService" />
    </container>
  </unity>
</configuration>