<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>jobName1</name>
      <group>jobGroup1</group>
      <description>jobDesciption1</description>
      <job-type>WeFramework.Web.Scheduler.SampleJob1,WeFramework.Web</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>triggerName1</name>
        <group>triggerGroup1</group>
        <job-name>jobName1</job-name>
        <job-group>jobGroup1</job-group>
        <cron-expression>2,10 * * * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>jobName2</name>
      <group>jobGroup2</group>
      <description>jobDesciption3</description>
      <job-type>WeFramework.Web.Scheduler.SampleJob2,WeFramework.Web</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>triggerName2</name>
        <group>triggerGroup2</group>
        <description>SimpleTriggerDescription</description>
        <job-name>jobName2</job-name>
        <job-group>jobGroup2</job-group>
        <repeat-count>-1</repeat-count>
        <repeat-interval>20000</repeat-interval>
      </simple>
    </trigger>
    <job>
      <name>clearLogJob</name>
      <group>logGroup</group>
      <job-type>WeFramework.Web.Scheduler.ClearLogJob,WeFramework.Web</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>clearLogTrigger</name>
        <group>logGroup</group>
        <job-name>clearLogJob</job-name>
        <job-group>logGroup</job-group>
        <cron-expression>0 0 04 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>