<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="WeFramework.Core" />
    <assembly name="WeFramework.Data" />
    <assembly name="WeFramework.Service" />
    <assembly name="WeFramework.Web.Core" />
    <assembly name="WeFramework.Web" />
    <assembly name="Unity.Abstractions"/>
    <assembly name="Unity.Mvc" />
    <container>
      
      <!--repository register -->
      <register type="WeFramework.Data.IDbContext" mapTo="WeFramework.Data.CustomDbContext" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
        <constructor>
          <param name="nameOrConnectionString" value="firstConnectionString" />
        </constructor>
      </register>
      <register type="WeFramework.Core.Data.IRepository[]" mapTo="WeFramework.Data.EfRepository[]" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      
      <!--infrastructure register-->
      <register type="WeFramework.Core.Caching.ICacheManager" mapTo="WeFramework.Core.Caching.NullCacheManager">
        <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager" />
      </register>
      <register type="WeFramework.Core.Infrastructure.IWorkContext" mapTo="WeFramework.Web.Core.Infrastructure.WebWorkContext">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Navigates.INavigateService" mapTo="WeFramework.Service.Navigates.NavigateService" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>

      <!--logging register-->
      <register name="loggingContext" type="WeFramework.Data.IDbContext" mapTo="WeFramework.Data.CustomDbContext" >
        <constructor>
          <param name="nameOrConnectionString" value="firstConnectionString" />
        </constructor>
      </register>
      <register name="loggingRepository" type="WeFramework.Core.Data.IRepository[]" mapTo="WeFramework.Data.EfRepository[]" >
        <constructor>
          <param name="dbContext" dependencyName="loggingContext" />
        </constructor>
      </register>
      <register type="WeFramework.Service.Logging.ILogService" mapTo="WeFramework.Service.Logging.LogService" >
        <constructor>
          <param name="logRepository" dependencyName="loggingRepository" />
        </constructor>
      </register>
      
      <!--security register -->
      <register name="webProvider" type="WeFramework.Service.Security.IPermissionProvider" mapTo="WeFramework.Web.Infrastructure.PermissionProvider">
        <lifetime type="Unity.Lifetime.TransientLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Security.IAuthorizeService" mapTo="WeFramework.Web.Core.Security.FormAuthorizeService">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Security.IEncryptionService" mapTo="WeFramework.Service.Security.EncryptionService" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Security.IPermissionService" mapTo="WeFramework.Service.Security.PermissionService" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Security.IEntityPermissionService" mapTo="WeFramework.Service.Security.EntityPermissionService" >
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      
      <!--user & role service register -->
      <register type="WeFramework.Service.Users.IUserService" mapTo="WeFramework.Service.Users.UserService">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Users.IRoleService" mapTo="WeFramework.Service.Users.RoleService">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <register type="WeFramework.Service.Products.IProductService" mapTo="WeFramework.Service.Products.ProductService">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      <!--service register -->
    
    </container>
  </unity>
</configuration>

