<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <wechat>
    <add key="appId" value="wx6a16c6416d890cbd"/>
    <add key="appSecret" value="1b0f3470a682a9c87c30eda0cde0ef2b"/>
    <add key="token" value="e6443cc3fe5541b7b56cfeba11bee5bd"/>
    <add key="encodingAesKey" value="03AWyN9SjsptLnCKSU3da33aaLLyeB4nqTKeNZoNXPQ"/>
  </wechat>
</configuration>